<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>landschaften: painting explorer</title>
  </head>
  <body>

    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            <h3>Welcome to landschaften</h3>
            <p>Retrieving paintings...</p>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts and styles -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/font-awesome/svg-with-js/js/fontawesome.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}

    <!-- Google Material-UI fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Semantic UI React -->
    <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />

    <script type="text/javascript">
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
